<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

{{ pagination.info }}
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Avatar</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    {% for user in index_table %}
      <tr>
        <td>{{ loop.index + pagination.skip }}</td>
        <td><img style="max-width: 50px; max-height: 50px" src="{{ user.1 }}"></td>
        <td><a href="{{ user.0 }}">{{ user.0 }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{ pagination.links }}
</body>
</html>
